/*css区*/
*{
    padding: 0px;
    margin: 0px;
}
.top{
    height: 30px;
    background-color: lightsteelblue;
    font-size: 12px;
    line-height: 30px;
    color: darkgray;
}
a{
    text-decoration: none;
    color: darkgray;
}
.top-right a:visited{
      color: cadetblue;
}
.top>span{
    margin-left: 200px;
}
.top-right{
    float:left;
    display: inline-block;
    /*border: 1px solid black;*/
    position: absolute;
    right: 250px;
}
.top-right span{
    margin-left: 5px;
}
.logo{
    width: 240px;
    height:  80px;
    /*border: 1px solid black;*/
    margin-left: 250px;
    /*border: 1px solid black;*/
}
/*.logo img{*/
    /*margin-left: 250px;*/
    /*!*border: 1px solid black;*!*/
/*}*/
@media all and (max-width: 768px) {
      .logo{
          margin:0 auto;
      }
}
@font-face {
   font-family: name;
    src: url('../fonts/name.ttf');
}
.name{
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
    font-family: name;
    vertical-align: 25px;
}
.content{
    height: 600px;
    /*border: 1px solid black;*/
    background-image: url(../image/11.jpg);
    background-size: 100%;
    background-repeat: repeat;
}
.content>img{
    position: absolute;
    border-radius: 50%;
    top: 150px;
    left: 130px;
    transition: all 1s;
}
.content{
    position: relative;
}
.content>span{
    position: absolute;
    font-family: name;
    font-size: 40px;
    font-weight: 700;
    top: 80px;
    left: 210px;
    color: cadetblue;
    transition: all 1s;
}
.login{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    border-bottom: 0px;
    border-top: 0px;
    position: absolute;
    top: 50px;
    right: 200px;

}
.border{
    float: left;
    width:100px;
    height:8px;
    list-style: none;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.white{
    background-color: white;
}
.green{
    background-color: green;
}
.title{
    font-size: 30px;
    text-align: center;
    color: rgba(0,0,0,0.6);
    margin-top: 20px;
}
.text{
    margin-left: 25px;
    font-size: 15px;
    color: gray;

}
.zhanhao{
     margin-top: 30px;
    margin-bottom: 4px;
}
.zhanhao1{
    margin-top: 10px;
}
.input-text{
    width: 350px;
    height: 40px;
    display: block;
    margin: 0px auto;
    text-indent: 10px;
}
.input-text:focus{
    outline: none;
}
.mima{
    margin-top:10px ;
   margin-bottom: 4px;
}
.zhuce{
  margin-left: 250px;
    padding-top: 20px;
}
.zhuce a{
    font-size: 12px;
    text-decoration: none;
    margin-left: 20px;
}
[value='登 录']{
    display: block;
    width: 320px;
    height: 40px;
    background-color: #6cd01b;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 40px auto 0px;
}
[value='登 录']:hover{
    background-color:#78e222;
}
[value='登 录']:hover{
    cursor: pointer;
}
.img img{
    border-radius: 50%;
    width: 35px;
    margin-left: 5px;
}
.img img:hover{
    opacity: 0.7;
}
.img .a{
    width: 38px;
}
.img{
    height: 40px;
    background-color: lightgrey;
    margin-top: 105px;
}
.img>div{
    height: 40px;
    margin-left: 100px;
    display: inline-block;
    font-size: 12px;
    line-height: 40px;
    vertical-align: 14px;
    margin-right: 5px;
    color: gray;
}
.bottom{
    height: 150px;
    margin-top: 20px;
    /*border: 1px solid black;*/
}
.wrap>div{
    display: inline-block;

}
.wrap{
    display: flex;
}
.bottom img{
    /*width: 40px;*/
    height: 80px;
    /*margin-left: 100px;*/
}
.bottom{
    /*flex-wrap: wrap;*/
    display: flex;
    justify-content: space-around;
}
@media all and (max-width: 916px) {
       .bottom{
           flex-wrap: wrap;
       }
      .wrap{
          width: 35%;
          justify-content: space-around;
          text-align: center;
      }
    @media all and (max-width: 685px){
        .wrap{
            width: 50%;
            justify-content: space-around;
            text-align: center;
        }
    }
}
@media all and (max-width: 480px) {
    .wrap{
        font-size: 10px;!important;
    }
}
.xiao{
    font-size: 12px;
}
.big{
    font-weight: 700;
}
.last{
    height: 100px;
    /*border: 1px solid black;*/
}
.last>div{
    color: gray;
    line-height: 30px;
    text-align: center;
    /*border: 1px solid black;*/
    margin-top: 20px;
}
.last a{
    color: gray;
}
.login{
    transition: all .5s;
}
@media all and (max-width: 1240px) {
       .login{
           left:50%;
           margin-left: -200px;
           background-color: whitesmoke;
       }
      .content>span,.content>img{
          width: 0px;
          height: 0px;
      }
}
@media all and (max-width: 415px) {
       .bottom{
           height: 0;
           width: 0;
           overflow: hidden;
       }
    .last{
        height: 0;
        width: 0;
        overflow: hidden;
    }
   .top{
       position: absolute;
       top: -20px;
   }
}
